#d1,#h1,#m1,#s1{font-size:50px;text-align:center;font-weight:bold;margin:0}

.counter{display:inline-block;zoom:1;text-transform:uppercase;text-align:center;*display:inline;width:20%;font-size:18px}

#contents{position:relative;width:800px;margin:40 auto}
#main-counter,#visualization{position:relative;margin:auto;text-align:center}
#image{margin:10 auto; text-align:center}


#visualization { display: table }
#visualization div { display: table-row }
#visualization div div { border: dotted 1px #111; display: table-cell; width:12px; height:35px }

.empty{background: #E2E0D1}
.occupied{background: #AA463C}
